.navigation {
  position: absolute;
  top: 30px;
  left: 15px;
  user-select: none;
  cursor: pointer;
}
.bar-elements {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
}

.bar-elements:hover {
  width: 150px;
  box-shadow: 2px 2px 6px #00000088;
  transition: width 300ms ease-in;
  /* transition: border-radius 300ms ease-in; */
}
.material-icons {
  color: var(--mainColor);
  font-size: 24px;
  font-weight: 600;
}
.material-symbols-outlined {
  font-weight: 500;
  color: var(--mainColor);
  cursor:pointer;
}
.nav-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-texts {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--whiteColor);
  color: var(--mainColor);
  display: none;
}
.navigation:hover .nav-texts {
  display: block;
}
.reviewBtn{
   width: 100%;
  text-align: center;
  border: 1px dashed var(--choicesBorder);

  border-radius: 5px;
  font-size: 36px;
  font-weight: 600;
  user-select: none;
}
.reviewBtn:hover{
  background-color: var(--choicesHover);
}
.reviewBtn:first-of-type{
  margin-top: -5px;
  margin-bottom: 20px;
}
.reviewBtn:last-of-type{
  margin-top: 20px;
  margin-bottom: -5px;

}
.answers {
  width: 100%;
  font-size: 1.3rem;
  border: 1px solid var(--choicesBorder);
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px auto;
}
.notTrue{
  border: 1px solid #ff0000;
  background: #ff000040;
}